:local(.calculadora-container) {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #ffe6e6; /* Tono rosa claro */
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 10% auto; /* Centrar verticalmente y horizontalmente */
}

:local(h1) {
  color: #ff66b2; /* Rosa fuerte */
  text-shadow: 2px 2px 5px #333;
}

:local(.input-container) {
  margin: 10px 0;
}

:local(label) {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #ff66b2; /* Rosa fuerte */
}

:local(input) {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

:local(button) {
  background-color: #ff66b2; /* Rosa fuerte */
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

:local(button:hover) {
  background-color: #ff3385; /* Rosa medio */
}

:local(.resultado) {
  margin-top: 20px;
  font-size: 18px;
  color: #ff3385; /* Rosa medio */
}
