.body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
}

.superior {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.top {
  margin: 0;
}

h1 {
  text-align: center;
  color: #333;
}

.etiqueta {
  font-size: 1.5rem;
  margin-top: 20px;
  width: 100%; /* Make sure the labels take the full width */
}

.juego {
  margin: 10px;
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each game box */
}

.juego a {
  text-decoration: none;
  color: #333;
}

.juego img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s;
}

.juego img:hover {
  transform: scale(1.1);
}
