/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Estilos generales para el cuerpo de la aplicación */
.body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

/* Estilos para la barra superior */
.superior {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top {
  margin-right: 20px;
}

/* Estilos para los títulos */
h1 {
  color: #009688;
}

h2.etiqueta {
  color: #ff5722;
}

/* Estilos para los juegos */
.juego {
  margin-bottom: 20px;
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
  color: #2196f3;
}

a:hover {
  text-decoration: underline;
}

/* Estilos específicos para los enlaces de la barra superior */
.top a {
  font-weight: bold;
}

/* Estilos para la bienvenida del usuario */
p {
  font-weight: bold;
}

/* Estilos para las imágenes de los juegos */
img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
}

/* Estilos adicionales según sea necesario */
s
