/* AppStyles.css */

.body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.superior {
    background-color: #1a1a1a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    color: #ffffff;
    margin: 0;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #0078d4;
}

.top:hover {
    background-color: #005aa0; /* Cambia el color al pasar el ratón */
}

.etiqueta {
    color: #0078d4;
}

.juego {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.juego img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    border-radius: 5px; /* Bordes redondeados para la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Otros estilos según sea necesario */
