.body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: rgb(228, 249, 255);
}

.superior {
  background-color: #3472cf;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.top {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
}
   
h1 {
  font-size: 50px;   
}

.etiqueta {
  font-size: 30px;
  margin: 20px 0; 
  transform: translateY(20px);
  text-align: left;
   text-align: left;
  font-size: 24px;
  font-family: 'Pacifico', cursive;
}

.juego {
  display: inline-block;
  width: 30%;
  margin: 0 1.5%;
}

.top:hover {
  background-color: #ddd;
  color: black;
}

.etiqueta {
  font-size: 30px;
  margin: 20px 0;
}

.juego img {
  width: 50%; 
  padding: auto;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  transition: transform 0.3s;
}
img{
  border: 5px solid black;
  border-radius: 20px;
}

.juego:hover img {
  transform: scale(1.05) rotate(-5deg);
}
