body {
  /* ... */
  display: flex;
  align-items: center;
  justify-content: center; 
}

.blog-container {
  width: 400px;
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
}

.formulario {
  max-width: 320px;
  margin: 0 auto;  
}

.datos {
  max-width: 300px;
  margin: 0 auto 15px;
}

.boton {
  margin: 0 auto;  
}
