body {
  font-family: 'Press Start 2P', cursive;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

div {
  margin-bottom: 10px;
}

label {
  font-size: 18px;
  margin-right: 10px;
}

select {
  font-size: 16px;
  padding: 5px;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

div {
  font-size: 24px;
  margin-top: 20px;
}

/* Agrega la fuente Press Start 2P a tu proyecto */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
